body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: flex-start;
}

.side {
  width: 20vw;
  background-color: rgb(34, 28, 28);
  min-height: 100vh;
}

.empty {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.4);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.8s;
  z-index: 1000;
  overflow: auto;

}

.modal.active {
  opacity: 1;
  pointer-events: all;
  inset: 0px;
}

.modal__content {
  padding: 30px;
  border-radius: 12px;
  background-color: white;
  min-height: 500px;
  width: 850px;
  transform: scale(0.5);
  transition: 0.7s all;
  text-align: center;
  &-form {
    display: flex;
    justify-content: center;
    &-left {
      width: 200px;
      text-align: left;
      p {
        margin: 30px 0;
        font-size: 17px;
      }
    }
    &-input {
      margin: 15px 0;
    }
  }
  &-button {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    &:hover {
      background-position: right center;
    }
  }
}

.modal__content.active {
  transform: scale(1);
}

.cl-btn-4 {
  left: 474px;    
  width: 40px;
  height: 40px;
  box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background: #b76833;
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 200;
  text-indent: -9999px;
  cursor: pointer;
}
.cl-btn-4:before,
.cl-btn-4:after {
  content: '';
  width: 80%;
  height: 6px;
  background: #ffffff;
  position: absolute;
  top: 48%;
  left: 10%;
  transform: rotate(45deg);
  transition: all 0.3s ease-out;
}
.cl-btn-4:after {
  transform: rotate(-45deg);
  transition: all 0.3s ease-out;
}
.cl-btn-4:hover:before,
.cl-btn-4:hover:after {
  transform: rotate(180deg);
  background: #FFF; 
}